# مجلدات البناء
build/
dist/
dist_installer/

# منع كل exe بشكل عام ما عدا اللي داخل docs
*.exe
!docs/*.exe

# مفاتيح وشهادات
keys/
*.pfx
*.pem
*.key
*.cer

# مخلفات
*.bak
*.log
__pycache__/
*.patch

# أي ريبوزيتوري داخل المشروع (كان سبب المشكلة)
pcfixultimate.git/
